* { 
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.87);
}

$breakpoint-mobile: 480px;
$breakpoint-tablet-small: 900px;
$breakpoint-tablet-large: 1400px;

button {
  padding: 0 5px;
  background-color: rgba(125, 255, 255, 0.774);

  &:hover {
    background-color: rgba(216, 33, 33, 0.836);
  }
}

.app {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  row-gap: 5px;
  padding: 4px;
  background-color: rgba(19, 19, 19, 0.856);
}

.board {
  border: 3px solid black;
  display: grid;
  grid-template-rows: 20% 50% 30%;
  background-color: green;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 4px rgba(17, 17, 17, 0.884);
  height: 420px;
  background-image: url(assets/tables_play_area.png);

  &__top-area {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__top-hand {
      border: 1px solid grey;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding: 4px;
    }
  }

  &__mid-area {
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    
    &__left {
      &__left-hand {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;

        & > * {
          margin: -5px;
        }
      }
    }

    &__mid {
      display: flex;
      flex-direction: column;

      .coin-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      
      &__coins {
        font-size: 20px;
        font-weight: 900;
        color: gold;
        -webkit-text-stroke: 1px gold;
        text-shadow: 2px 2px rgba(68, 68, 68, 0.733);
      }

      &__img {
        size: 100px;
        height: 80px;
      }

      &__text {
        background-color: rgba(0, 128, 0, 0);
        border: none;
        resize: none;
        text-align: right;
        -webkit-text-stroke: 0.4px;
        text-shadow: 1px 2px rgba(68, 68, 68, 0.452);
      }


    }

    &__right {
      &__right-hand {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;

        & > * {
          margin: -5px;
        }
      }
    }
  }

  &__bot-area {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__bot-hand {
      border: 1px solid grey;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      padding: 12px;
    }
  }
}


.card-grid {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  gap: 2px;
  row-gap: 4px;
  border: 1px solid rgb(0, 0, 0);
  background-image: url(assets/tables_card_area.png);
  border-radius: 10px;
  box-shadow: 2px 4px rgba(15, 15, 15, 0.945);

}


.bet {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px;
  background-image: url(assets/tables_bet_area.png);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(46, 46, 46, 0.795);
  border: 3px solid rgb(0, 0, 0);
  color: rgb(211, 216, 208);
  
  &__settings {
    .radio-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 6px;
    }

    .rounded-container {
      display: flex;
      justify-content: flex-end;
      gap: 6px;
    }
  }

  &__input-container {
    display: flex;
    justify-content: center;
    margin-top: -2%;
    gap: 10px;
    padding: 16px 0;

    .coin-amount {
      color: rgb(0, 206, 0);
      font-size: 20px;
      text-align: center;
      -webkit-text-stroke: 0.6px;
    }
    .coin-label {
      text-align: right;
    }

    .bet-amount {
      width: 80px;
      font-size: 30px;
      text-align: center;
    }

    .send-bet {
      background-color: rgba(23, 253, 23, 0.719);

      &:hover {
        background-color: rgba(216, 33, 33, 0.836);
      }
    }
  }

  .copy {
    font-size: 12px;
  }

}


// Each specific card model
.card {
  border: 2px solid black;
  width: 36px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 2px 3px rgba(27, 27, 27, 0.781);
  background-image: url(assets/cards_back.png);
  background-color: brown;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;

  .u {
    margin-top: 4px;
    -webkit-text-stroke: 0.4px black;
    height: 60%;
  }

  .l {
    height: 40%;
  }
  
}


.heart {
  background-image: url(assets/cards_heart.png);
}

.spade {
  background-image: url(assets/cards_spade.png);
}

.diamond {
  background-image: url(assets/cards_diamond.png);
}

.club {
  background-image: url(assets/cards_club.png);
}


.winner {
  border: 4px solid rgba(205, 219, 0, 0.884);
  border-radius: 10px;
  background-color: rgba(206, 209, 0, 0.884);
}


.rotate-right {
  & > * {
    transform: rotate(90deg);
  }
}

.rotate-left {
  & > * {
    transform: rotate(270deg);
  }
}

.mainPlayer {
  & > * {
    transform: scale(1.4);
  }
}



@media screen and (min-width: $breakpoint-mobile) {
  .app {
    width: 70vw;
    grid-template-rows: 55% 24% 20%;
  }

  .board {
    height: auto;
  }

  
  .mainPlayer {
    & > * {
      transform: scale(1.8);
      margin: 0 8px;
    }
  }

  .topPlayer {
    gap: 10px;
    & > * {
      transform: scale(1.2);
    }
  }

  .rotate-right {
    row-gap: 4px;
    & > * {
      transform: rotate(90deg) scale(1.2);
    }
  }
  
  .rotate-left {
    row-gap: 4px;
    & > * {
      transform: rotate(270deg) scale(1.2);
    }
  }
  
  .card-grid {
    padding: 20px;
    padding-top: 8%;
    padding-left: 8%;
    gap: 0;

    & > * {
      transform: scale(1.4);
    }
  }
}


@media screen and (min-width: $breakpoint-tablet-small) {
  .card-grid {
    justify-self: center;
    padding-top: 3%;
    padding-left: 8%;
    gap: 0;
    row-gap: 14px;
    width: 90%;

    & > * {
      transform: scale(1.4);
    }
  }
}

@media screen and (min-width: $breakpoint-tablet-large) {
  .app {
    width: 60vw;
    grid-template-rows: 55% 24% 20%;
  }

  .mainPlayer {
    gap: 20px;
    & > * {
      transform: scale(2);
      margin: 0 8px;
    }
  }

  .topPlayer {
    gap: 20px;
    & > * {
      transform: scale(1.6);
    }
  }

  .rotate-right {
    row-gap: 12px;
    & > * {
      transform: rotate(90deg) scale(1.5);
    }
  }
  
  .rotate-left {
    row-gap: 12px;
    & > * {
      transform: rotate(270deg) scale(1.5);
    }
  }

  .card-grid {
    justify-self: center;
    padding-top: 3%;
    padding-left: 8%;
    gap: 0;
    width: 80%;

    & > * {
      transform: scale(1.8);
    }
  }
}