* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgba(27, 27, 27, 0.87);
}

.modal {
  display: none;
  /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* Full width */
  height: 20%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #008542;
  /* Black w/ opacity */
  border-radius: 10px;
  border: 4px solid rgba(122, 0, 0, 0.897);
  box-shadow: 2px 2px rgba(19, 19, 19, 0.685);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  -webkit-text-stroke: 0.6px;
}

button {
  padding: 0 5px;
  background-color: rgba(125, 255, 255, 0.774);
}
button:hover {
  background-color: rgba(216, 33, 33, 0.836);
}

.app {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  row-gap: 5px;
  padding: 4px;
  background-color: rgba(19, 19, 19, 0.856);
}

.board {
  border: 3px solid black;
  display: grid;
  grid-template-rows: 20% 50% 30%;
  background-color: green;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 4px rgba(17, 17, 17, 0.884);
  height: 420px;
  background-image: url(assets/tables_play_area.png);
}
.board__top-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board__top-area__top-hand {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 4px;
}
.board__mid-area {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}
.board__mid-area__left__left-hand {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
}
.board__mid-area__left__left-hand > * {
  margin: -5px;
}
.board__mid-area__mid {
  display: flex;
  flex-direction: column;
}
.board__mid-area__mid .coin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.board__mid-area__mid__coins {
  font-size: 20px;
  font-weight: 900;
  color: gold;
  -webkit-text-stroke: 1px gold;
  text-shadow: 2px 2px rgba(68, 68, 68, 0.733);
}
.board__mid-area__mid__img {
  size: 100px;
  height: 80px;
}
.board__mid-area__mid__text {
  font-size: 16px;
  background-color: rgba(0, 128, 0, 0);
  border: none;
  resize: none;
  text-align: right;
  -webkit-text-stroke: 0.4px;
  text-shadow: 1px 2px rgba(68, 68, 68, 0.452);
  padding: 0 14px;
}
.board__mid-area__right__right-hand {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
}
.board__mid-area__right__right-hand > * {
  margin: -5px;
}
.board__bot-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board__bot-area__bot-hand {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 12px;
}

.card-grid {
  display: grid;
  border: 2px solid black;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  gap: 2px;
  row-gap: 4px;
  background-image: url(assets/tables_card_area.png);
  border-radius: 10px;
  box-shadow: 2px 4px rgba(15, 15, 15, 0.945);
}

.bet {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px;
  background-image: url(assets/tables_bet_area.png);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(46, 46, 46, 0.795);
  border: 3px solid black;
  color: #d3d8d0;
}
.bet__settings .radio-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.bet__settings .rounded-container {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.bet__input-container {
  display: flex;
  justify-content: center;
  margin-top: -2%;
  gap: 10px;
  padding: 16px 0;
}
.bet__input-container .coin-amount {
  color: #00ce00;
  font-size: 20px;
  text-align: center;
  -webkit-text-stroke: 0.6px;
}
.bet__input-container .coin-label {
  text-align: right;
}
.bet__input-container .bet-amount {
  width: 80px;
  font-size: 30px;
  text-align: center;
}
.bet__input-container .send-bet {
  background-color: rgba(23, 253, 23, 0.719);
}
.bet__input-container .send-bet:hover {
  background-color: rgba(216, 33, 33, 0.836);
}
.bet .copy {
  font-size: 12px;
}

.card {
  border: 2px solid black;
  width: 36px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 2px 3px rgba(27, 27, 27, 0.781);
  background-image: url(assets/cards_back.png);
  background-color: brown;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}
.card .u {
  margin-top: 4px;
  -webkit-text-stroke: 0.4px black;
  height: 60%;
}
.card .l {
  height: 40%;
}

.heart {
  background-image: url(assets/cards_heart.png);
}

.spade {
  background-image: url(assets/cards_spade.png);
}

.diamond {
  background-image: url(assets/cards_diamond.png);
}

.club {
  background-image: url(assets/cards_club.png);
}

.winner {
  border: 4px solid rgba(205, 219, 0, 0.884);
  border-radius: 10px;
  background-color: rgba(206, 209, 0, 0.884);
}

.rotate-right > * {
  transform: rotate(90deg);
}

.rotate-left > * {
  transform: rotate(270deg);
}

.mainPlayer > * {
  transform: scale(1.4);
}

@media screen and (min-width: 480px) {
  .app {
    width: 70vw;
    grid-template-rows: 55% 24% 20%;
  }

  .modal {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 30%;
    /* Full width */
    height: 140px;
    /* Full height */
  }

  .board {
    height: auto;
  }

  .mainPlayer > * {
    transform: scale(1.8);
    margin: 0 8px;
  }

  .topPlayer {
    gap: 10px;
  }
  .topPlayer > * {
    transform: scale(1.2);
  }

  .rotate-right {
    row-gap: 4px;
  }
  .rotate-right > * {
    transform: rotate(90deg) scale(1.2);
  }

  .rotate-left {
    row-gap: 4px;
  }
  .rotate-left > * {
    transform: rotate(270deg) scale(1.2);
  }

  .card-grid {
    padding: 20px;
    padding-top: 8%;
    padding-left: 8%;
    gap: 0;
  }
  .card-grid > * {
    transform: scale(1.4);
  }
}
@media screen and (min-width: 900px) {
  .card-grid {
    justify-self: center;
    padding-top: 3%;
    padding-left: 8%;
    gap: 0;
    row-gap: 14px;
    width: 90%;
  }
  .card-grid > * {
    transform: scale(1.4);
  }

  .coin-img {
    padding-top: 10px;
  }

  .modal {
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 30%;
    /* Full width */
    height: 140px;
    /* Full height */
  }
}
@media screen and (min-width: 1400px) {
  .app {
    width: 60vw;
    grid-template-rows: 55% 24% 20%;
  }

  .mainPlayer {
    gap: 20px;
  }
  .mainPlayer > * {
    transform: scale(2);
    margin: 0 8px;
  }

  .topPlayer {
    gap: 20px;
  }
  .topPlayer > * {
    transform: scale(1.6);
  }

  .rotate-right {
    row-gap: 12px;
  }
  .rotate-right > * {
    transform: rotate(90deg) scale(1.5);
  }

  .rotate-left {
    row-gap: 12px;
  }
  .rotate-left > * {
    transform: rotate(270deg) scale(1.5);
  }

  .card-grid {
    justify-self: center;
    padding-top: 3%;
    padding-left: 8%;
    gap: 0;
    width: 80%;
  }
  .card-grid > * {
    transform: scale(1.8);
  }
}