* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  padding: 4px;
}

.board {
  border: 3px solid black;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: green;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 4px rgba(20, 20, 20, 0.753);
}
.board__top-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board__top-area__top-hand {
  border: 1px solid grey;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 4px;
}
.board__mid-area {
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}
.board__mid-area__left__left-hand {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
}
.board__mid-area__left__left-hand > * {
  margin: -5px;
}
.board__mid-area__mid {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.board__mid-area__mid .coin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board__mid-area__mid__coins {
  font-size: 20px;
  font-weight: 900;
  color: gold;
  -webkit-text-stroke: 1px gold;
  text-shadow: 2px 2px rgba(68, 68, 68, 0.733);
  margin-bottom: 8px;
}
.board__mid-area__mid__img {
  size: 100px;
  height: 80px;
}
.board__mid-area__mid__text {
  background-color: rgba(0, 128, 0, 0);
  border: none;
  resize: none;
  text-align: right;
  -webkit-text-stroke: 0.4px;
  text-shadow: 1px 2px rgba(68, 68, 68, 0.452);
}
.board__mid-area__right__right-hand {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
}
.board__mid-area__right__right-hand > * {
  margin: -5px;
}
.board__bot-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board__bot-area__bot-hand {
  border: 1px solid grey;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 12px;
}

.card-grid {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  gap: 6px;
}

.bet {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px;
}
.bet__settings .radio-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.bet__settings .rounded-container {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.bet__input-container {
  display: flex;
  justify-content: center;
  margin-top: -2%;
  gap: 10px;
}
.bet__input-container .coin-amount {
  color: green;
  font-size: 20px;
  text-align: center;
  -webkit-text-stroke: 0.6px;
}
.bet__input-container .coin-label {
  text-align: right;
}
.bet__input-container .bet-amount {
  width: 80px;
  font-size: 30px;
  text-align: center;
}
.bet .copy {
  font-size: 12px;
}

.card {
  border: 2px solid black;
  width: 36px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 2px 3px rgba(63, 63, 63, 0.521);
  background-image: url(assets/cards_back.png);
  background-color: brown;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}
.card .u {
  margin-top: 4px;
  -webkit-text-stroke: 0.4px black;
  height: 60%;
}
.card .l {
  height: 40%;
}

.heart {
  background-image: url(assets/cards_heart.png);
}

.spade {
  background-image: url(assets/cards_spade.png);
}

.diamond {
  background-image: url(assets/cards_diamond.png);
}

.club {
  background-image: url(assets/cards_club.png);
}

.winner {
  border: 4px solid rgba(192, 221, 30, 0.884);
  border-radius: 10px;
  background-color: rgba(192, 221, 30, 0.884);
}

.rotate-right > * {
  transform: rotate(90deg);
}

.rotate-left > * {
  transform: rotate(270deg);
}

.mainPlayer > * {
  transform: scale(1.4);
}